// Colors
$blue: #7ddbff;
$light-gray: #f2f2f2;
$primary-color: #3cc9ff;
$gradient-color-1: #84fab0;
$gradient-color-2: #8fd3f4;

// Screen Breakpoints
$large-screen: 1200px;
$medium-screen: 992px;
$small-screen: 768px;
$extra-small-screen: 576px;